<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
<body>
    <div class="nav-bar">
        <div class="nav-items">
            <span class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
                <span class="white-line"></span>
                <a routerLink="/" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
                    <b>HOME</b>
                </a>
            </span>

            <span class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
                <span class="white-line"></span>
                <a routerLink="/add" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
                    <b>+ADD</b>
                </a>
            </span>
        </div>

        <div>
            <img class="blog-icon" src="../../assets/images/blog-icon.png" alt="blog-icon" height="30px" width="24px" />
        </div>
    </div>
</body>

</html>