  .nav-bar {
      display: flex;
      list-style: none;
      background-color: #333333;
      color: white;
      margin-top: 0px;
      padding: 0px;
      justify-content: space-between;
      margin-bottom: 0px;
  }

  .nav-items {
      display: flex;
      margin-left: 13px;
  }

  .nav-item {
      display: flex;
  }

  .active {
      background-color: #ff9900;
      color: black;

      a:hover {
          text-decoration: none;
          color: black;
      }

      .white-line {
          background-color: white;
          width: 2px;
      }
  }

  .blog-icon {
      padding: 6px 0px 0px 0px;
      margin-right: 20px;
      margin-bottom: 2px;
      margin-top: 2px;
  }

  a {
      text-decoration: none;
      background-color: #333333;
      color: white;
      padding: 8px 8px 8px 10px;
      font-size: 15px;
      margin-right: 7px;
  }

  a:hover {
      text-decoration: none;
      color: white;
  }