@mixin table-styles($isSelectedStyle) {
    .table {
        border-style: solid;
        border-color: $table-border-color;
        border-width: 0.1px;
        margin-bottom: 0px;
        width: width(table);
        border-bottom: 0px;

        &-item {
            border-style: solid;
            border-color: $table-border-color;
            border-width: 0.9px;
            padding-bottom: 8px;
            padding-left: 11px;
            cursor: pointer;

            &-title {
                font-size: font-size(title);
                font-weight: 330;
            }
        }
    }

    @if($isSelectedStyle) {
        .selected {
            background-color: $selected-background-color;
        }
    }
}

@mixin caution-styles {
    .caution {
        margin-top: 40px;
        font-size: font-size(caution);
    }
}

@mixin heading-styles {
    .subb-heading {
        font-size: font-size(subb-heading);
        margin: 0px;
        margin-top: 5px;
        margin-bottom: 20px;
    }
}

@mixin form-styles {
    .form-box {
        width: width(form);
        box-shadow: #2d2d2d 1px 1px 20px;
        margin-left: 25px;
        padding: 20px;
        margin-top: 10px;

        .form-inputs {
            width: width(form-inputs);
        }

        .form-button {
            text-align: right;

            .btn {
                font-weight: 600;
                width: width(button);
            }
        }
    }
}