$table-border-color : #e0e0e0;
$header-background-color: #3398cc;
$selected-background-color: #cee7f2;
$widths: (
    "table":360px,
    "form":720px,
    "form-inputs":555px,
    "button":120px
);
$font-sizes :("subb-heading":medium,
    "title":27px,
    "caution":xx-large,
    "heading" : 50px,
    "active-title": xx-large,
    "action-name": 14px);
$nav-color : #333333;
$nav-item-color : #ff9900;
$text-colors : ("light" : white,
    "dark": black);