@import '../../sass/variables';
@import '../../sass/functions';

.header {
    margin: 0px;
    padding-top: 19px;
    padding-bottom: 25px;
    padding-left: 25px;
    font-weight: 375;
    font-size: font-size(heading);
    background-color: $header-background-color;
    color: text-color(light);
}