<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@363&display=swap" rel="stylesheet">

</head>

<body>
    <div class="page-body">
        <div>
            <h5 class="sub-heading">CONTACTS</h5>
            <div [ngClass]="{'table':userService.arr.length > 0}">
                <div *ngFor="let contact of userService.arr; let i = index;">
                    <div class="card" (click)="showDetails(i)">
                        <div class="card-title">{{contact.name}}</div>
                        <div>{{contact.email}}</div>
                        <div>{{contact.mobile}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-box">
            <form [formGroup]="editContactForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label> <b>Name</b> <span class="text-danger">*</span></label>
                    <input
                        [class.is-invalid]="editContactForm.get('name')?.invalid && editContactForm.get('name')?.touched"
                        formControlName="name" type="text" class="form-control" [(ngModel)]="userService.arr[userService.selectedindex].name" required>
                    <small [class.d-none]="editContactForm.get('name')?.valid || editContactForm.get('name')?.untouched"
                        class="text-danger">Username is required</small>
                </div>

                <div class="form-group">
                    <label><b>Email</b> <span class="text-danger">*</span></label>
                    <input
                        [class.is-invalid]="editContactForm.get('email')?.invalid && editContactForm.get('email')?.touched"
                        formControlName="email" type="email" class="form-control" [(ngModel)]="userService.arr[userService.selectedindex].email" required>
                    <small
                        [class.d-none]="editContactForm.get('email')?.valid || editContactForm.get('email')?.untouched"
                        class="text-danger">Email is required</small>
                </div>

                <div class="row">
                    <div class="col">
                        <label><b>Mobile</b> <span class="text-danger">*</span></label>
                        <input
                            [class.is-invalid]="editContactForm.get('mobile')?.invalid && editContactForm.get('mobile')?.touched"
                            formControlName="mobile" type="text" class="form-control" [(ngModel)]="userService.arr[userService.selectedindex].mobile" required>
                        <small
                            [class.d-none]="editContactForm.get('mobile')?.valid || editContactForm.get('mobile')?.untouched"
                            class="text-danger">Mobile is required</small>
                    </div>
                    <div class="col">
                        <label><b>Landline</b></label>
                        <input formControlName="landline" type="text" class="form-control" [(ngModel)]="userService.arr[userService.selectedindex].landline">
                    </div>
                </div>

                <div class="form-group">
                    <label><b>Website</b></label>
                    <input formControlName="website" type="url" class="form-control" [(ngModel)]="userService.arr[userService.selectedindex].website">
                </div>

                <div class="form-group">
                    <label><b>Address</b></label>
                    <textarea formControlName="address" class="form-control" [(ngModel)]="userService.arr[userService.selectedindex].address">
                </textarea>
                </div>
                <div class="add-button">
                    <button class="btn bg-success" type="submit"> Edit </button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>