.page-body {
    padding: 20px;
    display: flex;
}

.subb-heading {
    font-size: medium;
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 20px;
}


.table {
    border-style: solid;
    border-color: #e0e0e0;
    border-width: 0.1px;
    margin-bottom: 0px;
    width: 360px;
    border-bottom: 0px;
}

.item {
    border-style: solid;
    border-color: #e0e0e0;
    border-width: 0.9px;
    padding-bottom: 8px;
    padding-left: 11px;
    cursor: pointer;
}

.item-title {
    font-size: 27px;
    font-weight: 330;
}

.selected {
    background-color: #cee7f2;
}

.div-active {
    margin-left: 80px;
    margin-top: 20px;
}

.div-active-title {
    font-size: xx-large;
    font-weight: 490;
}

.line-gap {
    margin-bottom: 14px;
}

.next-line {
    margin-left: 67px;
}

.div-flex {
    display: flex;
    margin-left: 900px;
    font-size: 14px;
    position: absolute;
    margin-top: 20px;
}

.action {
    cursor: pointer;
    display: flex;
    text-decoration: none;
    color: black;
    margin-right: 25px;
}

.action-name {
    padding-left: 9px;
    margin-top: 13px;
}

.action-icon {
    margin-top: 10px;
}

.caution {
    margin-top: 40px;
    font-size: xx-large;
}